In [ ]:
import pandas as pd

In [ ]:
data = pd.read_csv('bike.csv')

In [ ]:
data.head(10)

In [ ]:
data.tail(10)

In [ ]:
data.info()

In [ ]:
data.isnull().any()

In [ ]:
X = data.drop(['Purchase Duke'],axis=1)
y = data['Purchase Duke']

In [19]:
X

     Gender  Age  Salary
0         1   19   19000
1         1   35   20000
2         0   26   43000
3         0   27   57000
4         1   19   76000
..      ...  ...     ...
395       0   46   41000
396       1   51   23000
397       0   50   20000
398       1   36   33000
399       0   49   36000

[400 rows x 3 columns]

In [20]:
y

0      0
1      0
2      0
3      0
4      0
      ..
395    1
396    1
397    1
398    0
399    1
Name: Purchase Duke, Length: 400, dtype: int64

In [21]:
from sklearn.preprocessing import LabelEncoder

labelencoder = LabelEncoder()

X['Gender'] = labelencoder.fit_transform(X['Gender'])
X

     Gender  Age  Salary
0         1   19   19000
1         1   35   20000
2         0   26   43000
3         0   27   57000
4         1   19   76000
..      ...  ...     ...
395       0   46   41000
396       1   51   23000
397       0   50   20000
398       1   36   33000
399       0   49   36000

[400 rows x 3 columns]

In [22]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(X,y,test_size=.20, random_state=42)

In [23]:
from sklearn.svm import SVC
svcclassifier = SVC(kernel = 'linear', random_state = 1)
svcclassifier.fit(x_train, y_train)
y_pred=svcclassifier.predict(x_test)

In [24]:
from sklearn import metrics
print(metrics.accuracy_score(y_test,y_pred))
print(metrics.confusion_matrix(y_test,y_pred))

0.85
[[48  4]
 [ 8 20]]

In [25]:
conf_matrix=metrics.confusion_matrix(y_test,y_pred)
print(conf_matrix)

[[48  4]
 [ 8 20]]

In [26]:
TP=conf_matrix[0,0]
TN=conf_matrix[1,1]
FN=conf_matrix[0,1]
FP=conf_matrix[1,0]

In [27]:
sensitivity=TP/(TP+FN)
specificity=TN/(TN+FP)
precision=TP/(TP+FP)
pred_val=TN/(TN+FN)
accracy=(TP+FN)/(TP+TN+FP+FN)

In [ ]:
print("SENSITIVITY : %f"%(sensitivity))
print("SPECIFICITY : %f"%(specificity))
print("PRECISION : %f"%(precision))
print("PREDICTE VALUE : %f"%(pred_val))
print("ACCURCY : %f"%(accracy))
print("\n\nprecision",precision)
print("PRECISION SCORE :",metrics.precision_score(y_test, y_pred))
print("RECALL SCORE :", metrics.recall_score(y_test, y_pred))
print("F1 SCORE :",metrics.f1_score(y_test, y_pred))

In [ ]:
#Get a new Data and Check Whether the customer purchase or not—0(no) and 1(yes)
New_Age=int(input('Enter the Age : '))
New_Salary=int(input('Enter the Salary : '))
New_Gender=int(input('Enter the Gender (1 for Male and 0 for Female) : '))
New_Data=[ [New_Age,New_Salary,New_Gender]]
New_Data_User = pd.DataFrame(New_Data,columns=['Age', 'Salary','Gender_Cat'])
print(New_Data_User.head())
user_classification = svcclassifier.predict(New_Data_User)
print(user_classification)
if user_classification==1:
    print("User buys a Duke")
else:
    print("User does not buy a Duke")